#nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#apres {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#foto {
    
    border-radius: 100%;
}

body {
    background: turquoise;
    padding: 5px;

}

#porto {
    font-family: Arial, Helvetica, sans-serif;
}

#eu {
    text-decoration: none;
}

#blog2 {
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}

#lista {
    text-decoration: none;
}

ul {
    
}

.list {
    font-size: 20px;
}